go 1.24

use (
	./services/gateway
	./services/auth
	./services/user
	./services/merchant
	./services/order
	./services/dispatch
	./services/driver
	./services/tracking
	./services/messaging
	./services/notification
	./services/payment
	./shared
)
